{% extends 'JustTesting/base.html' %}

{% block static_load %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'JustTesting/css/form.css' %}">
    <script src="{% static 'JustTesting/js/select_input.js' %}"></script>
{% endblock %}

{% block title %}
    Вибір тесту
{% endblock %}

{% block content %}
    <div class="form-wrapper">
        <form method="post">
        {% csrf_token %}
            {% with select=form.test %}
            {% with queryset=form.fields.test.queryset %}
            {% with placeholder=form.fields.test.help_text %}
                {% include "JustTesting/forms/fields/select_input.html" %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            <br>

            {% if form.information %}
                {% with input=form.information %}
                {% with label="Користувач" %}
                {% with placeholder=form.fields.information.help_text %}
                    {% include "JustTesting/forms/fields/input.html" %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                <br>
            {% endif %}

            {% for error in form.non_field_errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}

            <input type="submit" value="Почати" class="btn btn-primary">
        </form>
    </div>
    <br>
    {% if active_sessions_count > 0 %}
        <a href=
            {% if active_sessions_count == 1 %}
                "{% url 'testing' pk=session_id %}"
            {% else %}
                "{% url 'active testing sessions' %}"
            {% endif %}
        class="btn btn-success">Продовжити тестування</a>
    {% endif %}
{% endblock %}
