.answers {
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.answer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    background-color: bisque;
    cursor: pointer;
}

.selected {
    background-color: chartreuse;
}

.error_answers {
    border: 2px solid red;
}
