{% extends "base.html" %}

{% block static_load %}
    {% load static %}
    <script src="{% static 'JustTesting/js/inline_formset.js' %}"></script>
    <link rel="stylesheet" href="{% static 'JustTesting/css/form.css' %}">
{% endblock %}

{% block content %}
    <div class="form-wrapper">
        <form method="post">
        {% csrf_token %}
            <!-- model form -->
            {% with form=form.form %}
                <!-- select task list -->
                {% with select=form.task_list %}
                {% with queryset=form.fields.task_list.queryset%}
                {% with label=form.task_list.label %}
                {% with disabled_option_text=form.task_list.help_text %}
                    {% include "forms/fields/select.html" %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}

                <br>
                <p>{{ form.text.label }}:</p>
                {% with textarea=form.text %}
                {% with placeholder=form.text.help_text %}
                    {% include "forms/fields/textarea.html" %}
                {% endwith %}
                {% endwith %}
            {% endwith %}
            
            <!-- inline forms -->
            {{ form.formset.management_form }}
            {% for error in form.formset.non_form_errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            <div class="inline-form-header">Варіанти відповідей</div>
            
            <table width="100%">
                <thead>
                    <tr>
                        <th class="small-col">Видалити</th>
                        <th>Відповідь</th>
                        <th class="small-col">Вага</th>
                    </tr>
                </thead>
                <tbody data-inline-prefix="answer_set-">
                    {% for answer_form in form.formset %}
                    {% with prefix=answer_form.prefix %}
                        <tr data-inline-form="answer_set-">
                            <td class="small-col">
                                {% if answer_form.DELETE and answer_form.id.value %}
                                    {% include "forms/fields/input.html" with input=answer_form.DELETE %}
                                {% endif %}
                                {% if not answer_form.id.value %}
                                    <span class="btn btn-danger delete-inline-form" 
                                    onclick="inline_formsets.get('answer_set-').remove_form(
                                        this.parentNode.parentNode);">
                                        &ndash;
                                    </span>
                                {% endif %}
                                {% include "forms/fields/input.html" with input=answer_form.test %}
                                {% include "forms/fields/input.html" with input=answer_form.id %}
                            </td>
                            <td>
                                {% with textarea=answer_form.text %}
                                {% with placeholder=answer_form.text.label %}
                                    {% include "forms/fields/textarea.html" %}
                                {% endwith %}
                                {% endwith %}
                            </td>
                            <td class="small-col">
                                {% with input=answer_form.weight %}
                                {% with required=False %}
                                    {% include "forms/fields/input.html" %}
                                {% endwith %}
                                {% endwith %} 
                            </td>
                        </tr>
                    {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
            <div onclick="inline_formsets.get('answer_set-').add_inline_form();"
                 class="inline-form-add-btn">
                Додати варіант відповіді
            </div>
            {% block submit_button %}
            {% endblock %}
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>add_inline_formset();</script>
{% endblock %}
