{% extends "base.html" %}

{% block static_load %}
    {% load static %}
    <script src="{% static 'JustTesting/js/inline_formset.js' %}"></script>
{% endblock %}

{% block title %}
    Створити тест з вибором кількох відповідей
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.form.as_table }}
        {{ form.formset.management_form }}
        {{ form.formset.non_form_errors }}
        <div id="formset">
            {% for answer_form in form.formset %}
                <div class="answer_form" data-inline-prefix="answer_set-"> {{ answer_form.as_table }} </div>
            {% endfor %}
        </div>
        <button onclick="inline_formsets.get('answer_set-').add_inline_form();">+</button>
        <input type="submit" value="Створити тест">
    </form>
{% endblock %}

{% block scripts %}
    <script>add_inline_formset();</script>
{% endblock %}
