{% if label %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">{{ label }}</span>
        </div>
{% endif %}

<input list="list_{% if prefix %}{{ prefix }}-{% endif %}{{ select.name }}"
       id="id_list_{% if prefix %}{{ prefix }}-{% endif %}{{ select.name }}"
       class="form-control" {% if placeholder %} placeholder="{{ placeholder }}" {% endif %}
       onchange="changeSelectedValue(this)">
<datalist id="list_{% if prefix %}{{ prefix }}-{% endif %}{{ select.name }}">
    {% for choice in queryset %}
        <option data-value="{{ choice.id }}">{{ choice.name }}</option>
    {% endfor %}
</datalist>

<input type="hidden" name="{% if prefix %}{{ prefix }}-{% endif %}{{ select.name }}"
       id="id_{% if prefix %}{{ prefix }}-{% endif %}{{ select.name }}">

 {% if select.value %}
    <script>
        setSelected(
            document.getElementById(
                "id_list_{% if prefix %}{{ prefix }}-{% endif %}{{ select.name }}"
            ),
            "{{ select.value }}"
        )
    </script>
{% endif %}

{% if label %}
    </div>
{% endif %}

{% for error in select.errors %}
    <p class="error">{{ error }}</p>
{% endfor %}
