{% extends 'Testing/testing.html' %}

{% block form_static_load %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'JustTesting/css/form.css' %}">
    <link rel="stylesheet" href="{% static 'Testing/css/multiple_choice_test.css' %}">
    <script src="{% static 'Testing/js/multiple_choice_test.js' %}"></script>
{% endblock %}

{% block form %}
    <form method="post" onsubmit="solution_check(event, this)">
    {% csrf_token %}
    <div>{{ form.fields.selected_answers.label }}</div>

    <div class="answers {% if form.selected_answers.errors %} error_answers {% endif %}">
        {% for error in form.selected_answers.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
        {% for value, answer in form.fields.selected_answers.choices %}
            <div class="answer" onclick="answer_click(this)">
                <input type="checkbox" name="{{ form.selected_answers.name }}" value="{{ value }}"
                       style="display: none;">
                <span>
                    {{ answer }}
                </span>
            </div>
        {% endfor %}
    </div>

    <input type="submit" value="Відповісти" class="btn btn-primary">
    </form>
{% endblock %}
