{% extends "JustTesting/base.html" %}

{% block static_load %}
    {% load static %}
    <script src="{% static 'JustTesting/js/inline_formset.js' %}"></script>
    <link rel="stylesheet" href="{% static 'JustTesting/css/form.css' %}">
{% endblock %}

{% block content %}
    <div class="form-wrapper">
        <form method="post">
        {% csrf_token %}
            <!-- model form -->
            {% with form=form.form %}
                <!-- input name -->
                {% include "JustTesting/forms/fields/input.html" with input=form.name placeholder=form.name.help_text %}
                <br>
                <!-- input duration -->
                {% with input=form.duration %}
                {% with label=input.label %}
                {% with placeholder=input.help_text %}
                    {% include "JustTesting/forms/fields/input.html" %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                         
                <p>
                    <!-- input is_allowed -->
                    {% with input=form.is_allowed %}
                    {% with label=form.is_allowed.label %}
                    {% with small_text=form.is_allowed.help_text %}
                        {% include "JustTesting/forms/fields/input.html" %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                </p>

                <p>
                    <!-- input is_allow_for_unautorized_users -->
                    {% with input=form.is_allow_for_unautorized_users %}
                    {% with label=form.is_allow_for_unautorized_users.label %}
                    {% with small_text=form.is_allow_for_unautorized_users.help_text %}
                        {% include "JustTesting/forms/fields/input.html" %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                </p>
            {% endwith %}

            <!-- inline forms -->
            {{ form.formset.management_form }}
            {% for error in form.formset.non_form_errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            <div class="inline-form-header">Списки завдань</div>

            <table width="100%">
                <thead>
                    <tr>
                        <th class="small-col">Видалити</th>
                        <th>Список завдань</th>
                        <th class="small-col">Кількість завдань</th>
                    </tr>
                </thead>
                <tbody data-inline-prefix="m2mtasklistintest_set-">
                    {% for task_list_form in form.formset %}
                    {% with prefix=task_list_form.prefix %}
                        <tr data-inline-form="m2mtasklistintest_set-">
                            <td class="small-col">
                                {% if task_list_form.DELETE and task_list_form.id.value %}
                                    {% include "JustTesting/forms/fields/input.html" with input=task_list_form.DELETE %}
                                {% endif %}
                                {% if not task_list_form.id.value %}
                                    <span class="btn btn-danger delete-inline-form" 
                                    onclick="inline_formsets.get('m2mtasklistintest_set-').remove_form(
                                        this.parentNode.parentNode);">
                                        &ndash;
                                    </span>
                                {% endif %}
                                {% include "JustTesting/forms/fields/input.html" with input=task_list_form.test %}
                                {% include "JustTesting/forms/fields/input.html" with input=task_list_form.id %}
                            </td>
                            <td>
                                <!-- select task list -->
                                {% with select=task_list_form.task_list %}
                                {% with queryset=task_list_form.fields.task_list.queryset %}
                                {% with disabled_option_text="&mdash; &mdash; &mdash;" %}
                                    {% include "JustTesting/forms/fields/select.html" with required=False %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                            </td>
                            <td class="small-col">
                                <!-- input task count -->
                                {% with input=task_list_form.task_count %}
                                {% with required=False %}
                                    {% include "JustTesting/forms/fields/input.html" %}
                                {% endwith %}
                                {% endwith %}
                            </td>
                        </tr>
                        {% if task_list_form.non_field_errors %}
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    {% for error in task_list_form.non_field_errors %}
                                        <p class="error">{{ error }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
            <div onclick="inline_formsets.get('m2mtasklistintest_set-').add_inline_form();"
                 class="inline-form-add-btn">
                Додати список завдань
            </div>
            {% block submit_button %}
            {% endblock %}
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>add_inline_formset();</script>
{% endblock %}
